.food-special-heading{
    color: purple;
}

.food-special-description{
    color: pink;
}

.navbar{
    background-color: magenta;
}

.create-food-specials{
    list-style: none;
}

.create-drink-specials{
    list-style: none;
}

.special-input{
    width: 100%;
}

.daily-specials{
    list-style: none;
}

.weekly-specials{
    list-style: none;
}

.special-events{
    list-style: none;
}

.specials-table-row{
    border: 2px;
}